body {
  margin: auto;
}

.menu {
  display: none;

  text-align: center;
}

.menu-toggle {
  font-size: 24px;
}

.menu-toggle:focus {
  outline: 2px solid;
}

.menu.active {
  display: block;
}

.menu ul {
  list-style: none;

  padding-left: 0;
}

.menu li {
  display: block;

  margin-left: 0;
  padding-left: 0;
}

.menu a {
  display: block;

  padding: .25em;

  text-decoration: none;
  color: black;
  background-color: aqua;
}

.menu a:hover {
  background-color: black;
  color: blue;
}

li {
  line-height: 2em;
  padding-left: 1em;
}